:root { 
    --primary-color: #ffffff;
    --secondary-color: #eceff4;
    --font-color: #4c566a;
    --secondary-font-color: #7b88a1;
    --bg-color: #f2f4f8;
}

[data-theme="dark"] {
    --primary-color: #2e3440;
    --secondary-color: #3b4252;
    --font-color: #ECEFF4;
    --secondary-font-color: #abb9cf;
    --bg-color: #242933;
}

html,body {
    height: 100vh;
    margin: 0;
}

.mainhero { 
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.65fr 0.35fr;
    grid-template-areas: 
            "IntroductionImage"
            "InformationHeader";
}

.IntroductionImage {
    background-color: var(--bg-color);
}

.IntroductionImage h1 {
    color: var(--font-color);
    font-size: 3vw;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-left: 2vw;
}

.InformationHeader {
background-color: var(--primary-color);
}
.InformationHeader h3 {
    color: var(--font-color);
    font-size: 2vw;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
